html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
}

#particle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
}

#particle h1 {
    position: absolute;
    top: 30vh;
    left: 24vw;
    z-index: 500;
    color: #fff;
    word-wrap: break-word;
    text-align: center;
    font-size: 12vw;
    font-family: 'Lobster', cursive;
}

/*
.navbar {
    background-color: #1B7B98 !important;
    opacity: 1;
}

nav .navbar-nav li a {
    color: #000000 !important;
    opacity: 1;
}

.navbar-nav > li > .dropdown-menu {
    opacity: 1;
    background-color: #1B7B98;
}

.navbar-nav > li > .dropdown-menu :hover {
    background-color: #fff;
}

.solid {
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color: #fff;
    color: #16728f !important;
}

nav li .active a {
    background-color: #fff;
    color: #16728f !important;
}

.nav.navbar-nav li a {
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    margin: 4px;
}
*/
/*************************
*******Explore CSS******
**************************/

#explore {
    background-color: #C34C39;
    background-image: url("../images/event-bg.jpg");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding-top: 4vh;
    padding-bottom: 10vh;
}

.watch img {
    position: absolute;
    left: 0;
    top: -12px;
}

#explore h1 {
    color: #fff;
    padding-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

#countdown {
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#countdown li {
    color: #fff;
    list-style: none;
    margin-right: 50px;
    margin-bottom: 6px;
    margin-left: 20px;
    text-align: center;
    font-size: 16px;
}

#countdown p {
    font-weight: bold;
    text-align: center;
}

#countdown li:last-child {
    margin-right: 0;
}

#countdown li span {
    display: block;
    font-size: 28px;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
    width: 70px;
    margin-left: 0;
    border-radius: 10px;
    border-right: 1px solid #9e3e2e;
    border-bottom: 1px solid #9e3e2e;
}

#countdown li .days {
    background-color: #45b29d;
    border-top: 1px solid #6ac1b1;
    border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
    background-color: #efc94c;
    border-top: 1px solid #f2d470;
    border-left: 1px solid #f2d470;
}

#countdown li .minutes {
    background-color: #e27a3f;
    border-top: 1px solid #e89565;
    border-left: 1px solid #e89565;
}

#countdown li .seconds {
    background-color: #df5a49;
    border-top: 1px solid #e57b6d;
    border-left: 1px solid #e57b6d;
}

#countdown li:before {
    background-color: #FFFFFF;
    content: "";
    height: 11px;
    left: 0;
    position: absolute;
    top: 36px;
    width: 1px;
}

#countdown li:after {
    background-color: #FFFFFF;
    content: "";
    height: 11px;
    right: 0;
    position: absolute;
    top: 36px;
    width: 1px;
}

/*************************
*******About CSS**********
**************************/

#about {
    background-color: #75B46E;
    position: relative;
    width: 100%;
    display: flex;
}

.guitar2 {
    top: 0;
    width: 50%;
}

.guitar2 img {
    padding-top: 3%;
}

.about-content {
    width: 50%;
    background-image: url("../images/about-bg.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 70px 110px;
}

#about h2 {
    margin-bottom: 23px;
}

.about-content p {
    font-size: 17px;
    /*font-family: 'Dosis',sans-serif;*/
}

#about .btn-primary {
    background-color: #137c61;
    color: #fff;
    text-transform: capitalize;
    border: none;
    margin-top: 28px;
}

#about .btn-primary:hover {
    background-color: #126d55
}

/*
.clock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    font-size: 4.6vw;
    text-align: center;
    color: #fff;
}

.clock h1 {
    padding-top: 16vh;
    z-index: 300;
    color: #fff;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
    margin: 4vw;
}
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .clock h1 {
        font-size: 3em;
    }

    .timerText {
        font-size: 2.8em;
    }

    .carousel-item img {
        height: 200px;
    }

    .brand img {
        width: 100%;
        height: 120px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .clock h1 {
        font-size: 2em;
    }

    .timerText {
        font-size: 1.61em;
    }

    .carousel-item img {
        height: 240px;
    }

    .brand img {
        width: 100%;
        height: auto;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carousel-item img {
        height: 260px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.carousel-item img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    opacity: 0.4;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.title {
    position: absolute;
    top: 0;
    left: 4vw;
    text-align: center;
    z-index: 300;
    color: #fff;
    font-size: 10vw;
    color: #000;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.eventDiv {
    z-index: 10;
    background-color: #b380ff;
    margin-bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.84;
}

.eventTitle {
    z-index: 100;
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    color: #fff;
    font-weight: bold;
    opacity: 1;
    word-wrap: break-word;
    hyphens: auto;
}

.eventDescription {
    z-index: 100;
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    color: #fff;
    opacity: 1;
    font-weight: bold;
}

.eventButtons {
    opacity: 1;
    z-index: 100;
    border-radius: 4px;
    background-color: #5c00e6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 1vw;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 4vh;
    margin-left: 2vw;
    font-weight: bold;
}

.eventButtons:hover {
    background-color: #0047b3;
}

.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #25ade3;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-top:hover {
    color: white;
}

.hvr-bounce-to-top:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#particle {
    z-index: 900;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

.orange-fade {
    background: #25ade3;
    /*background: linear-gradient(135deg, #ff910e 0, #ffa841 100%);*/
}

.pos-r {
    position: relative !important;
}

.white {
    background: #fff;
}

.text-white {
    color: #fff !important;
}

.text-gray {
    color: #363636;
    font-weight: bold;
    font-size: 10px;
    word-wrap: break-word;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator {
    width: 14%;
    height: 3px;
    margin: 1.2em auto 1em;
    background: #1B7B98;
}

.one-slide {
    border-radius: 3px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    height: 250px;
}

.one-slide img {
    width: 60%;
}

.carousel-controls .control {
    position: absolute;
    cursor: pointer;
    top: 56.4%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.prev {
    left: -1.875rem;
}

.next {
    right: -1.875rem;
}

.testimonial-carousel.slick-initialized {
    display: block;
}

.testimonial-carousel .message {
    width: 100%;
    font-size: 0.9rem;
}

.testimonial-carousel .brand {
    width: 100%;
}

@media (max-width: 575px) {
    .testimonial-carousel .one-slide {
        height: 200px;
    }

    .testimonial-carousel img {
        width: 44%;
        height: 80px;
    }
}

.map-responsive {
    overflow: hidden;
    padding-top: 10%;
    padding-bottom: 300px;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*************************
******Contact CSS****
**************************/
/*
.contact-section {
    background-color: #f7ab24;
    background-image: url("../images/contact-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}*/

/*.ear-piece {*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*}*/
/*
#contact .container {
    padding-top: 47px;
}

#contact h3 {
    text-transform: inherit;
    color: #373737;
}

#contact-section h3 {
    margin-bottom: 25px
}

#contact address {
    font-size: 18px;
    color: #373737;
    word-wrap: break-word;
}

.contact-text {
    margin-bottom: 35px;
    display: block;
}

#contact-section .form-control {
    border-color: #ae750d;
    box-shadow: none;
    outline: 0 none;
    border-radius: 0;
    color: #797979;
    font-size: 18px;
}

#contact-section .form-control:focus {
    border-color: #ae750d;
}

#contact-section input {
    height: 44px;
}

#contact-section textarea {
    height: 90px;
    resize: none;
}

#contact-section .btn-primary {
    background-color: #373737;
    color: #f7ab24;
    border: none;
    font-size: 24px;
    padding: 6px 42px;
    margin-bottom: 20px;
    margin-top: 10px
}

#contact-section .btn-primary:hover {
    background-color: #212020;
    color: #fff
}
*/
/*************************
******Footer CSS****
**************************/
/*
#footer {
    background-color: #212121;
    background-image: url("../images/footer-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}
*/