html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    background-color: #f9ab00;
}

.container-center {
    margin-left: auto;
    margin-right: auto;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.g-sign-in-button {
    margin-top: 10px;
    margin-bottom: 22px;
    display: inline-block;
    width: 240px;
    height: 50px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
}

.g-sign-in-button:active {
    background-color: #3367D6;
    transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}

.g-sign-in-button img {
    width: 18px;
    height: 18px;
}

.g-sign-in-button .logo-wrapper {
    padding-top: 10px;
    padding-left: 14px;
    background: #fff;
    width: 48px;
    height: 100%;
    border-radius: 1px;
    display: inline-block;
}

.g-sign-in-button .text-container {
    font-family: Roboto, arial, sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
}

.form-control {
    border-color: #ae750d;
    box-shadow: none;
    outline: 0 none;
    border-radius: 0;
    color: #797979;
    font-size: 18px;
}

.form-control:focus {
    border-color: #ae750d;
}

input {
    height: 44px;
}

.btn-primary {
    background-color: #373737;
    color: #f7ab24;
    border: none;
    font-size: 24px;
    padding-right: 18px;
    padding-top: 4px;
    padding-left: 18px;
    margin-bottom: 20px;
    margin-top: 10px
}

.btn-primary:hover {
    background-color: #212020;
    color: #fff
}