{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/sal.css' %}">
{% endblock %}

{% block dropdown %}
    {% for event in events %}
        <form method="post" action={% url 'details' %}>
            {% csrf_token %}
            <input type="hidden" name="event" value={{ event.event_name }}/>
            <button type="submit" class="dropdown-item">{{ event.event_name }}</button>
        </form>
    {% endfor %}
{% endblock %}

{% block body %}
    <br><br>
    <h1 class="title" data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300">{{ pageTitle }}</h1>
    <br><br>
    <div class="container-fluid">
        {% for event in events %}
            {% if forloop.first %}
                <div class="row">{% endif %}
        <div class="col-sm-3 eventDiv hvr-bounce-to-top"
             style="background-image:url({% static event.img %}); background-repeat: no-repeat; background-size: cover; width: 100%;height: auto"
             data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300" data-sal-duration="1100">
            <h1 class="eventTitle">{{ event.event_name }}</h1>
            <p class="eventDescription">
                {{ event.objective }}
            </p>
            <form method="post" action="{% url 'details' %}">
                {% csrf_token %}
                <input type="hidden" name="event" value={{ event.event_name }}/>
                <button type="submit" class="btn btn-primary eventButtons">Learn
                    More
                </button>
            </form>

        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">{% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
    <br><br><br>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
    <script src="{% static 'events/js/sal.js' %}"></script>
    <script src="{% static 'events/js/slick.min.js' %}"></script>
    <script src="{% static 'events/js/events.js' %}"></script>
{% endblock %}
