{% extends 'gandharva/../base/base.html' %}

{% block title %}Log In{% endblock %}


{% block body %}
<div class="container">

    <h1>User Login</h1>
    <br>
    {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
<form method="post" action="{% url 'user_login' %}">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
<label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Login">
</form>
    <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
    <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <h2>Not Signed Up!?, Register Now</h2>
                <button type="submit">Register
            </button>
            </form>


</div>


{% endblock %}