{% extends 'base/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block css %}
    <link href="{% static 'events/css/login_signup.css' %}" rel="stylesheet">
    <link href="{% static 'gandharva/css/sal.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="col-sm-12" style="height:64px; background-color:#f9ab00"></div>
    <div class="container">
        <div class="col-sm-5 container-center">
            <h1>User Registration</h1>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if form.name.errors %}
                    <ul>
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="E-mail Id">
                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    {{ form.password.errors }}
                </div>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
            <hr>
            <div class='g-sign-in-button'>
                <div class=content-wrapper>
                    <div class='logo-wrapper'>
                        <img src='https://developers.google.com/identity/images/g-logo.png'>
                    </div>
                    <span class='text-container'>
                    <a style="color: #fff" href="{% url 'social:begin' 'google-oauth2' %}">Sign Up with Google</a>
                 </span>
                </div>
            </div>
            <br><br>
        </div>
    </div>
{% endblock %}