{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'gandharva/css/slick.min.css' %}">
    {% block css %}
    {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}"> Gandharva 2019</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for event in events %}
                        <form method="post" action="{% url 'events' %}">
                            {% csrf_token %}
                            <input type="hidden" name="dept" value={{ event.name }}>
                            <button type="submit" class="dropdown-item">{{ event.name }}</button>
                        </form>

                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}#sponsorSection">Sponsors</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
            </li>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <form method="post" action="{% url 'events' %}">
                                {% csrf_token %}
                                <input type="hidden" name="dept" value=>
                                <button type="submit" class="dropdown-item">Register Heads</button>
                            </form>
                        </div>
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link">{{ user.username }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<br>
{% block body %}
{% endblock %}
<footer id="footer">
    <div class="container">
        <div class="text-center">
            <a class="fb-ic" href="https://www.facebook.com/viitgandharva/" target="_blank">
                <i class="fab fa-facebook-f white-text  fa-2x"
                   style="color: #fff;font-size: 26px;margin-right:2vw"></i>
            </a>
            <a class="tw-ic" href="https://mobile.twitter.com/gandharva_18" target="_blank">
                <i class="fab fa-twitter fa-lg white-text fa-2x"
                   style="color: #fff;font-size: 26px;margin-right:2vw"> </i>
            </a>
            <a class="ins-ic" href="https://www.instagram.com/viitgandharva/" target="_blank">
                <i class="fab fa-instagram fa-lg white-text fa-2x"
                   style="color:#fff;font-size: 26px;margin-right:2vw"> </i>
            </a>
            <a class="pin-ic" href="https://www.youtube.com/channel/UCdtq-lCC25RpJIjSPCIR9Nw/featured"
               target="_blank">
                <i class="fab fa-youtube fa-lg white-text fa-2x"
                   style="color: #fff;font-size: 26px;margin-right:2vw"> </i>
            </a>
            <p> Copyright &copy;2019 Gandharva. All Rights Reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>