@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
}

/*************************
******Navbar CSS****
**************************/
.navbar {
    background-color: #1B7B98 !important;
    opacity: 1;
}

nav .navbar-nav li a {
    color: #000000 !important;
    opacity: 1;
}

.dropdownStyle {
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    margin: 4px;
}

.navbar-nav > li > .dropdown-menu {
    opacity: 1;
    background-color: #1B7B98;
}

.navbar-nav > li > .dropdown-menu :hover {
    background-color: #fff;
    color: #16728f !important;
}

.solid {
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color: #fff;
    color: #16728f !important;
}

nav li .active a {
    background-color: #fff;
    color: #16728f !important;
}

.nav.navbar-nav li a {
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    margin: 4px;
}

/*************************
******Footer CSS****
**************************/

#footer {
    background-color: #212121;
    background-image: url("../../gandharva/images/footer-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 10px;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}